extends layouts/site-base

block header
    - bodyBg = 'about-bg.jpg'

block container
    .main-wrapper
        a(href="#").logo
            img(src="/assets/img/logo.png")
        block content
            .content-wrap.about
                h1 галерея
                a(href="")
                    img(src="/assets/img/gallery-icon.png")
    
    .about-scroll-wrap
        .about-scroll
            | Cправжній вибух позитивних емоцій, який невимушено піднімає глядача з їх місць під музику нового українського гурту баяністів "Real Brothers". Класний засіб від самотності чи депресії - так можна охарактеризувати появу "Real Brothers" в сучасному шоу-бізнесі.
            | Найкращі хіти вітчизняної та світової естради сьогодення і минулого у нових обробках та оригінальне їх виконання на баянах - це яскраво і незабутньо і залишає сподівання на наступну зустріч з дуетом "Real Brothers".
            | Майстерне виконання та позитивний заряд емоцій талановитих братів-баяністів не залишить байдужими жодного гостя Вашого свята! 
