extends layouts/site-base

block header
    - bodyBg = 'contacts-bg.jpg'

block content
    .content-wrap.contacts
        h1 Контактна інформація:
        .cont-ttl телефон:
        .cont-text +38(096) 664 80 32
        .cont-ttl e-mail:
        .cont-text bayan@realbrothers.com.ua

block arrow-next