extends layouts/site-base

block header
    - bodyBg = 'video-bg.jpg'

block content
    .content-wrap.music
        .inner-scroll
            ul
                li
                    iframe(width="720" height="404" src="https://www.youtube.com/embed/8L8UCfxmtSw" frameborder="0" allowfullscreen)