html
    height: 100%;
    background menuBg
body
    min-height: 100%
    background-position center top
    background-repeat no-repeat
    background-color menuBg
    background-size auto 100%
    
.main-wrapper
    position relative
    width conainerWidth
    margin 0 auto
        
    .logo
        display inline-block
        margin 15px ((conainerWidth - 260) / 2)
        
.nav-arrow
    position absolute
    top 50%
    left 50%
    width 85px
    height 36px
    margin-top -20px
    padding 7px 19px 5px 19px 
    color #fff
    line-height 24px
    font-size 12px
    font-weight 600
    text-align center
    text-decoration none
    text-transform uppercase
    background colorPurple
    border-radius(30px)
    box-sizing border-box

    i
        position absolute
        font-size 15px
        top 12px
        
    &.prev
        margin-left -491px
        padding-left 25px
        
        i
            left 10px
    &.next
        margin-left 407px
        padding-right 25px
        
        i
            right 10px
            
.content-wrap
    margin-top 90px
    color #fff
    
    h1
        margin-bottom 40px
        font-size 18px
    
    .cont-ttl
        color colorPurpleLight
        margin-top 20px
        margin-bottom 10px
    
    .cont-text
        font-size 22px
        
    .inner-scroll
        margin-right 30px
        